{% extends 'TpAdmin2Bundle::layout-blog.html.twig' %}

{% block title %} {{parent()}} My cool blog posts {% endblock %}

{% block body %}

 <div class="container-fluid">
      <div class="row-fluid">
       <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Tableau de bord de {% if app.user %}{{app.user.username}}{% else %}?{% endif %}</li>
              <li class="active"><a href="#"></a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

        <div class="span9">
          
          <div class="row-fluid">
            <div class="btn-toolbar">
</div>
<div class="well">
   

</div>
  
{% endblock %}