{% extends 'TpBlogBundle::layout.html.twig' %}

{% block title %} {{parent()}} My cool blog posts {% endblock %}

{% block body %}
<div id="containeur">
	<div class="span-16">
    	<div id="content">
	        <div id="bloc1">
	        	<h2>Contact us</h2>
	        	<div class="span-12">
		        	<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
	
		        	<p>Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis.</p>
	        	</div>
	        	<div id="miguel" class="span-4">
	        		<img src="/images/miguel.jpg" alt="miguel" width="130"/>
	        	</div>
	        </div>	        
	     </div>
    </div>
</div>

	
{% endblock %}